@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';


.mainBlock {
  min-height: 100vh;
  @include flexable(flex-start,stretch,column);

  .greeting {
    width: 500px;
    text-align: left;

    h1 {
      @include text($textColorH1,38px,700,40px);
      text-transform: uppercase;
      margin: 0 0 15px;
    }

    h5 {
      @include text($textColorH5,16px,700,40px);
      letter-spacing: 1px;
      margin: 0 0 15px;
      text-transform: uppercase;
    }

  }

  .photo {
    display: flex;
    flex-direction: column;
    width: 500px;

    img {
      height: auto;
      width: 100%;
      max-width: 720px;
    }
  }
}





