.contactsBlock {
    height: 100vh;
    padding: 100px;
}

.contactsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.formAndData{
    margin-top: 60px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    border: 2px dotted whitesmoke;
    justify-content: space-between;
}

