.contactsBlock {
    height: 100vh;
    padding: 100px;
}

.contactsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.formAndData{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    padding: 20px;
    width: 100%;
    margin: 40px auto;
}

