.contactsBlock {
    height: 100vh;
    background: #a0c6ef;
    padding: 100px;
}

.contactsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background: #c7e1e2;
}


