@import './../common/styles/sass/mixins';

.vacancyBlock {
  max-height: 20vh;
  padding: 80px 0;

  .vacancyContainer {
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    @include container();
  }
}




