.dataBlock {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.description {
    display: flex;
    flex-direction: column;
}

.icon {
    border: 1px solid #a8a8a8;
    border-radius: 50%;
    float: left;
    font-size: 24px;
    height: 47px;
    line-height: 47px;
    margin-right: 12px;
    text-align: center;
    width: 47px;
    color: #919191;
}

.dataBlock h4 {
    color: #7b7b7b;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0;
    line-height: 20px;
    font-size: 18px;
}

.dataBlock a, span {
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: #979797;
    font-weight: 400;
    line-height: 14px;
    font-size: 14px;
}