@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';

.button {
  padding: 0 30px;
  margin: 40px 0 10px 0;
  background-color: $backgroundColorBtn;
  border: 0 none;
  border-radius: 5px;
  @include text($textColorH3andBtn, 14px, 650, 50px);
  height: 47px;
  text-transform: uppercase;
  outline: transparent;
}
