
.button {
  padding: 0 30px;
  margin: 40px 0 10px 0;
  background-color: #393939;
  border: 0 none;
  border-radius: 5px;
  font-size: 14px;
  height: 47px;
  line-height: 50px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 650;
  outline: transparent;
}
