.title {
    color: #494949;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 0  20px;
    text-transform: uppercase;
    position: relative;
}

.title h2 {
    margin: 0 0 15px;;
}

.title::before {
    margin-bottom: 0;
    content: '';
    width: 44px;
    height: 2px;
    background: #bcbcbc;
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, 50%);
}

.title::after {
    margin: 0;
    content: '';
    width: 77px;
    height: 2px;
    background: #bcbcbc;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%, 50%);

}
