.skillsBlock {
    min-height: 100vh;
    background: #f5f5f5;
    padding: 100px;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background: #ecefa0;
}

.skills {
    margin-top: 60px;
    border: 2px dotted whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

