.mainBlock {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.greeting {
    width: 500px;
    text-align: left;
}

.photo {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.photo img {
    height: auto;
    width: 100%;
    max-width: 720px;
}


.greeting h1 {
    font-size: 38px;
    color: #414141;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.greeting h5 {
    font-size: 16px;
    color: #919191;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 15px;
    text-transform: uppercase;
}

.greeting p {
    font-family: 'Poppins', sans-serif;
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}