@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';

.project {
  width: 95%;
  margin: 15px 0;
  display: inline-block;

  .img {
    height: 250px;
    background-color: #fcf9f9;
    @include flexable(center,center, column);
    display: flex;
    background-position: center;
    background-size: cover;

    h3 {
      @include text ($textColorH3andBtn,19px,650,26px);
      text-transform: uppercase;
      letter-spacing: 0.40px;
    }

    .btn {
      margin-top: 15px;
      background-color: transparent;
      font-family: 'Montserrat', sans-serif;
      border: 4px solid $textColorH3andBtn;
      border-radius: 0;
      @include text ($textColorH3andBtn,14px,600,30px);
      padding: 0 30px;
      text-transform: uppercase;


      @media only screen and (min-width: 500px) and (max-width: 830px) {
        & {
          padding: 0 10px;
        }
      }
    }
  }
}

.project:nth-child(4n+1) .img, .project:nth-child(4n) .img {
  height: 350px;
}



