.project {
    width: 95%;
    margin: 15px 0;
    display: inline-block;
}

.project:nth-child(4n+1) .img, .project:nth-child(4n) .img {
    height: 350px;
}

.img {
    height: 250px;
    background-color: #fcf9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.project h3 {
    size: 24px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 650;
    text-transform: uppercase;
    letter-spacing: 0.40px;
}
.btn {
    margin-top: 15px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    border: 4px solid #ffffff;
    font-size: 14px;
    border-radius: 0;
    color: #ffffff;
    height: 40px;
    padding: 0 30px;
    text-transform: uppercase;
    font-weight: 600;
}
