.navigation {
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    padding: 10px 120px 10px 0;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    z-index: 1
}

.navigation a {
    text-decoration: none;
    margin: 0 10px;
    line-height: 40px;
    color: #777777;
    font-size: 14px;
    padding: 0 5px;
    font-weight: 650;
    text-transform: uppercase;
    letter-spacing: 0.40px;
}

@media screen and (max-width: 564px){
.menu { display: none}
}





