@import './variables';

@mixin text($color,$fontSize,$fontWeight,$lineHeight, $letterSpacing) {
  color: $color;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin flexable($justifyContent,$alignItems, $flexDirection) {
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction:$flexDirection
}