.footerBlock {
    height: 30vh;

}

.footerContainer {
    justify-content: flex-start;
    flex-direction: column;
}


.socialLinks {
    border: 2px dotted whitesmoke;
    width: 200px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.copyRight {

}

