.footerContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.socialLinksBlock {
    display: flex;
    list-style-type: none;

}
.socialLinksBlock a {
    color: #929292;
    padding-right: 15px;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
}
.copyRightBlock {
    color:#929292;
    padding-left: 15px;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
}

