.projectsBlock {
    min-height: 100vh;
    background: #ffffff;
    padding: 80px 0;
}

.projectsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {

}

.projects{
    margin-top: 60px;
    border: 2px dotted whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 936px) {
    .projects{
        justify-content: center;
    }
}