.projectsBlock {
    min-height: 100vh;
    padding: 80px 0;
}

.projectsContainer {
    flex-direction: column;
    display: flex;

}
.projects {
    margin: 60px 0;
    border: 2px dotted #e23d3d;
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (max-width: 936px) {
    .projects{
        justify-content: center;
    }
}
.secondMain{
    /*margin-right: 30px;*/
    /*margin-left: 30px;*/
    margin: 0 30px;

}
.secondSmall{
    /*margin-right: 15px;*/
    /*margin-left: 15px;*/
    /*margin-top: 30px;*/
    background-color: gray;
    height: 224px;
    margin: 30px 15px 0;
}

.secondBig{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;
    background-color: gray;
    height: 300px;
}
